<script setup>
import { ref } from 'vue'
import axios from 'axios'

const hasToken = ref('')
hasToken.value = localStorage.getItem('token');

let users = ref('');

const list = ref(true);

if (hasToken.value !== null) {
  axios
      .get('https://dummyjson.com/users')
      .then(resp => {
        return users.value = resp.data.users
      })
      .catch(error => error)
}

</script>

<template>
  <div class="container py-3 py-md-5 overflow-hidden" v-if="hasToken">
    <div class="d-flex flex-column flex-md-row justify-content-between mb-3 mb-md-5">
      <h1 class="mb-3 mb-md-0">{{ $t('userData') }}</h1>
      <div class="col-auto ms-auto">
        <div class="btn-group">
          <button @click="list = true" type="button" :class="{'active': list === true}" class="btn btn-outline-secondary  d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
              <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
              <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
            </svg>
            <span class="visually-hidden">Button</span>
          </button>
          <button @click="list = false" type="button" :class="{'active': list === false}" class="btn btn-outline-secondary d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
              <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
              <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <span class="visually-hidden">Button</span>
          </button>
        </div>
      </div>
    </div>

    <div v-if="users">
      <div v-if="!list" class="row row-cols-md-3 gy-4">
        <div v-for="user in users" :key="user.id" class="col">
          <div class="card shadow">
            <div class="card-img border-bottom rounded-bottom-0 shadow-sm">
              <img :src="user.image" alt="" class="img-fluid w-100">
            </div>
            <div class="card-body">
              <div class="d-flex">
                <strong class="col-6">{{ $t('name') }}:</strong>
                <div class="col">{{ user.firstName }} {{ user.lastName }}</div>
              </div>
              <div class="d-flex">
                <strong class="col-6">{{ $t('age') }}:</strong>
                <div class="col">{{ user.age }}</div>
              </div>
              <div class="d-flex">
                <strong class="col-6">{{ $t('email') }}:</strong>
                <div class="col">{{ user.email }}</div>
              </div>
              <div class="d-flex">
                <strong class="col-6">{{ $t('phone') }}:</strong>
                <div class="col">{{ user.phone }}</div>
              </div>
              <div class="d-flex">
                <strong class="col-6">{{ $t('birthDate') }}:</strong>
                <div class="col">{{ user.birthDate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="list" class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">{{ $t('firstName') }}</th>
            <th scope="col">{{ $t('lastName') }}</th>
            <th scope="col">{{ $t('age') }}</th>
            <th scope="col">{{ $t('email') }}</th>
            <th scope="col">{{ $t('phone') }}</th>
            <th scope="col">{{ $t('birthDate') }}</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="user in users" :key="user.id">
            <th>{{ user.id }}</th>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.birthDate }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>