<script setup>
import { ref } from 'vue'
import { useUserStore } from '../../stores/user'
import router from '../router.js'

const userData = useUserStore()
const locales = ref(['hu', 'en'])

const logout = () => {
  userData.loggedIn = false;
  router.push('/')
  localStorage.removeItem('token')
}
</script>

<template>
  <nav class="py-3 shadow-sm">
    <div class="container d-flex align-content-center justify-content-between">
      <button v-if="userData.loggedIn" @click="logout" type="button" class="btn btn-primary">{{ $t('logout') }}</button>
      <select v-model="$i18n.locale" class="form-select w-auto ms-auto">
        <option v-for="(locale, i) in locales" :key="`locale-${i}`" :value="locale">
          {{ locale }}
        </option>
      </select>
    </div>
  </nav>
</template>

<style scoped>

</style>