<script setup>
import { ref } from 'vue'
import { useUserStore } from '../../stores/user'
import router from '../router'
import i18n from "@/i18n/index.js";

const email = ref('')
const pass = ref('')
const error = ref('')

const userData = useUserStore()
const token = import.meta.env;

const login = () => {
  if (!email.value || !pass.value) {
    error.value = i18n.global.t('error1')
    return
  }

  if (email.value === import.meta.env.VITE_USER_NAME && pass.value === import.meta.env.VITE_USER_PASSWORD) {
    router.push('/dashboard')
    localStorage.setItem('token', JSON.stringify(import.meta.env.VITE_TOKEN))
    userData.loggedIn = true
  } else {
    error.value = i18n.global.t('error2')
  }

}

</script>

<template>
  <div class="container py-3 py-md-5">
    <form @submit.prevent="login" class="card mx-auto col-md-8">
      <div class="card-header">
        <h1>{{ $t('mainTitle') }}</h1>
        <h2 class="mb-0">{{ $t('subTitle') }}</h2>

        <p v-if="error" class="mt-4 text-danger"><strong>{{ error }}</strong></p>
      </div>
      <div class="card-body">
        <p>(test@test.hu / ABC123)</p>
        <div class="row gy-4">
          <div class="col-md form-group">
            <input type="email" class="form-control" :placeholder="$t('email')" v-model="email" />
          </div>
          <div class="col-md form-group">
            <input type="password" class="form-control" :placeholder="$t('pass')" v-model="pass" />
          </div>
          <div class="col-md-auto">
            <button class="btn btn-primary w-100">{{ $t('login') }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<style lang="scss" scoped>

</style>