<script setup>
import { onMounted } from 'vue'

import AppHeader from './components/AppHeader.vue'
import { useUserStore } from '../stores/user'

const userData = useUserStore()

onMounted(() => {
  userData.loggedIn = !!localStorage.getItem('token');
})
</script>

<template>
  <AppHeader />
  <main>
    <router-view />
  </main>
</template>

<style>

</style>